
//! --------------------PALETA DE COLORES----------------
$color-principal: #f5841a;
$color-secundario:white ;
$color-terciario:black ;
$color-cuarto: rgba(153, 75, 2, 0.973);
$color-gradiente: linear-gradient(to bottom right, rgb(245, 132, 26), white);