//! -------------------- VARIABLES----------------
$color-principal: #f5841a;
$color-secundario: white;
$color-terciario: black;
$color-cuarto: rgba(153, 75, 2, 0.973);
$color-gradiente: linear-gradient(to bottom right, rgb(245, 132, 26), white);

//! --------------------- LISTAS---------------------------

$font-size: 20px, 30px, 40px, 50px;
$font-weight: 200, 400, 700;

//! --------------------- MAPAS---------------------------

$boton: (
    fondo: $color-principal,
    radio-borde: 10px,
    color-texto: $color-secundario,
);

//! --------------------- EXTENDS---------------------------

%flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

//! --------------------- MIXINS---------------------------

@mixin flex($flex, $direccion, $align, $justify) {
    display: $flex;
    flex-direction: $direccion;
    align-items: $align;
    justify-content: $justify;
}