.nosotros {
  div {
    text-align: center;
    img {
      margin-top: 20px;
      margin-bottom: 20px;
      height: 600px;
      width: 100%;
    }
  }
  p {
    text-align: justify;
    margin: 0px 20px 20px 20px ;
  }
}
