.nosotros {
  div {
    text-align: center;
    img {
      margin-top: 20px;
      margin-bottom: 20px;
      height: 400px;
      width: 700px;
    }
  }
  p {
    text-align: justify;
    margin-bottom: 20px;
  }
}
