.precios_planes {
  h2 {
    text-align: center;
    text-decoration: underline;
    margin: 30px 0px 50px 0px;
  }
  .precios-flex {
    display: flex;
    width: 80%;
    height: 90vh;
    margin: 0 auto 50px;
    justify-content: space-around;
    .basico {
      h4 {
        margin-top: 80px;
      }
    }
    div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 40%;
      border-radius: 5px;
      background: $color-gradiente;
      text-align: center;
      padding: 20px;
      ul {
        li {
          font-size: 16px;
          text-align: left;
        }
      }
      a {
        width: 40%;
        color: map-get($boton, color-texto);
        text-decoration: none;
        padding: 5px;
        border-radius: map-get($boton, radio-borde);
        background-color: map-get($boton, fondo);
        transition: 1s;
        &:hover {
          transform: scale(1.2);
          color: $color-cuarto;
        }
      }
    }
  }
}
